
<div class="page-header">
    <h1>BookService</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Trainings</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: trainings">
                    <li>
                        <strong><span data-bind="text: Name"></span></strong>: <span data-bind="text: Date"></span>
                        <span data-bind="text: TrainingTypeName"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

</div>

@section scripts
{
@Scripts.Render("~/bundles/knockout")
    <script language="javascript">
        $(document).ready(function () {
            ko.applyBindings(new TrainingViewModel());
        });
        
        var TrainingViewModel = function () {
            var self = this;
            self.trainings = ko.observableArray();

            var trainingsUri = 'http://localhost:64516//api/training/';
            //  var authorsUri = '/api/authors/';

            function ajaxHelper(uri, method, data) {
                 // Clear error message
                return $.ajax({
                    type: method,
                    url: uri,
                    dataType: 'json',
                    contentType: 'application/json',
                    data: data ? JSON.stringify(data) : null
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                });
            }

            function getAllTrainings() {
                ajaxHelper(trainingsUri, 'GET').done(function (data) {
                    self.trainings(data);
                });
            }

            //self.getBookDetail = function (item) {
            //    ajaxHelper(booksUri + item.Id, 'GET').done(function (data) {
            //        self.detail(data);
            //    });
            //}

            //function getAuthors() {
            //    ajaxHelper(authorsUri, 'GET').done(function (data) {
            //        self.authors(data);
            //    });
            //}


            //self.addBook = function (formElement) {
            //    var book = {
            //        AuthorId: self.newBook.Author().Id,
            //        Genre: self.newBook.Genre(),
            //        Price: self.newBook.Price(),
            //        Title: self.newBook.Title(),
            //        Year: self.newBook.Year()
            //    };

            //    ajaxHelper(booksUri, 'POST', book).done(function (item) {
            //        self.books.push(item);
            //    });
            //}

            // Fetch the initial data.
            getAllTrainings();
            // getAuthors();
        };

       // ko.applyBindings(new TrainingViewModel());


    </script>
}